[phases.setup]
cmds = ["apt-get update", "apt-get install -y libpng-dev libjpeg-dev libfreetype6-dev"]

[phases.install]
cmds = ["composer install --no-dev --optimize-autoloader"]

[start]
cmd = "php -S 0.0.0.0:$PORT -t ."